<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-email-notification-heading" jhiTranslate="eshipperApp.emailNotification.home.createOrEditLabel">Create or edit a Email Notification</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.emailNotification.toEmail" for="field_toEmail">To Email</label>
                    <input type="text" class="form-control" name="toEmail" id="field_toEmail"
                           formControlName="toEmail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.emailNotification.emailMap" for="field_emailMap">Email Map</label>
                    <input type="text" class="form-control" name="emailMap" id="field_emailMap"
                           formControlName="emailMap"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.emailNotification.notificationTemplate" for="field_notificationTemplate">Notification Template</label>
                    <select class="form-control" id="field_notificationTemplate" name="notificationTemplate" formControlName="notificationTemplateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="notificationTemplateOption.id" *ngFor="let notificationTemplateOption of notificationtemplates; trackBy: trackById">{{ notificationTemplateOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.emailNotification.createdBy" for="field_createdBy">Created By</label>
                    <select class="form-control" id="field_createdBy" name="createdBy" formControlName="createdById">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="user1Option.id" *ngFor="let user1Option of user1s; trackBy: trackById">{{ user1Option.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.emailNotification.toUser" for="field_toUser">To User</label>
                    <select class="form-control" id="field_toUser" name="toUser" formControlName="toUserId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="user1Option.id" *ngFor="let user1Option of user1s; trackBy: trackById">{{ user1Option.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
