<div>
    <h2 id="page-heading">
        <span jhiTranslate="eshipperApp.notificationTemplate.home.title">Notification Templates</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notification-template" [routerLink]="['/notification-template/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="eshipperApp.notificationTemplate.home.createLabel">
            Create a new Notification Template
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="notificationTemplates?.length === 0">
        <span jhiTranslate="eshipperApp.notificationTemplate.home.notFound">No notificationTemplates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="notificationTemplates?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="eshipperApp.notificationTemplate.subject">Subject</span></th>
                    <th scope="col" ><span jhiTranslate="eshipperApp.notificationTemplate.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="eshipperApp.notificationTemplate.notificationMethod">Notification Method</span></th>
                    <th scope="col" ><span jhiTranslate="eshipperApp.notificationTemplate.notificationType">Notification Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notificationTemplate of notificationTemplates ;trackBy: trackId">
                    <td><a [routerLink]="['/notification-template', notificationTemplate.id, 'view']">{{ notificationTemplate.id }}</a></td>
                    <td>{{ notificationTemplate.subject }}</td>
                    <td>{{ notificationTemplate.description }}</td>
                    <td>
                        <div *ngIf="notificationTemplate.notificationMethodId">
                            <a [routerLink]="['/notification-method', notificationTemplate.notificationMethodId , 'view']" >{{ notificationTemplate.notificationMethodId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="notificationTemplate.notificationTypeId">
                            <a [routerLink]="['/notification-type', notificationTemplate.notificationTypeId , 'view']" >{{ notificationTemplate.notificationTypeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/notification-template', notificationTemplate.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/notification-template', notificationTemplate.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(notificationTemplate)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
